@charset "utf-8";
@import "normalize";

$grey: #F7F7F7;
$white: #fff;
$blue: #0084FF;

$container: 600px;
$messageWidth: 370px;
$bubbleRadius: 24px;
$bubbleRadiusSmall: 4px;

body {
  background: $grey;
  text-align: center;
}

.container {
  max-width: $container;
  background: $white;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 30px;
  img {
    margin-top: 30px;
    display: inline-block;
  }
}

#chat {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  .avatar {
    align-self: flex-end;
    width: 60px;
    margin: 0 0 0 60px;

    img {
      border-radius: 50%;
    }

  }

  .messages {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    width: 100%;
    padding: 0 40px;
    p {
      max-width: $messageWidth;
      display: inline-block;
    }

    .dream-message {
      text-align: left;
      p {
        background-color: $grey;
        padding: 15px;
        text-align: left;
        margin: 5px auto 0 75px;
      }
      .open {
        border-radius: 
          $bubbleRadius 
          $bubbleRadius
          $bubbleRadius 
          $bubbleRadiusSmall;
      }
      .single {
        border-radius: 
          $bubbleRadius 
          $bubbleRadius 
          $bubbleRadius 
          $bubbleRadius;
      }
      .close {
        border-radius: 
          $bubbleRadiusSmall
          $bubbleRadius 
          $bubbleRadius 
          $bubbleRadius;
          margin-bottom: 10px;
      }
      .last {
        display: flex;
        align-items: flex-start;
        p {
          margin: 5px auto 0 10px;
        }
      }

    }

    .user-message {
      text-align: right;
      p {
        background-color: $blue;
        padding: 15px;
        text-align: right;
        margin: 5px 75px 0 auto;
      }
      .open {
        border-radius: 
          $bubbleRadius 
          $bubbleRadius
          $bubbleRadiusSmall 
          $bubbleRadius;
      }
      .single {
        border-radius: 
          $bubbleRadius 
          $bubbleRadius 
          $bubbleRadius 
          $bubbleRadius;
      }
      .close {
        border-radius: 
          $bubbleRadius
          $bubbleRadiusSmall
          $bubbleRadius 
          $bubbleRadius;
          margin-bottom: 10px;
      }
      .last {
        display: flex;
        align-items: flex-start;
        p {
          margin: 5px 10px 0 auto;
        }
      }

    }

  }

}

#mailChimp {
  input {
    display: inline-block;
    text-align: center;
    margin: 0 20px 10px 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    max-width: $messageWidth - 80px;

    height: 30px;
    padding: 10px 20px;
    border: 1px solid $grey;
    -webkit-border-radius: $bubbleRadiusSmall;
    border-radius: $bubbleRadiusSmall;
    background: $white;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.12) inset;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.12) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  }
  input[type="submit"] {
    background: #ccc;

  }
}

footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}